.GamePanel {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 100px;
  vertical-align: top;
  float: right;
}

.GamePanel h3 {
  font-family: cursive;
  font-size: 3em;
  text-align: center;
}