.container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.gameBoard {
  border: 1px solid red;
  padding: 50px;
  vertical-align: top;
  float: right;
  width: 75%;

  font-size: 1.5em;
  line-height: 1.8em;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}
