.gamePanel {
  width: 1024px;
  height: 620px;
  border: 1px solid black;
  margin-top: 100px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: monospace;
  font-size: 1em;
}


.gameBoard {
  display: grid;
  grid-template-columns: repeat(34, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
